body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-image: url(assets/330909e8df4505a06c4296078d1f8a33.jpg);
  background-size: cover;
  background-position: center; }

#app,
#canvas-holder {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block; }

#canvas-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#canvas {
  max-width: 100%;
  max-height: 100%; }
#pname-enquiry.content-holder {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#pname-enquiry .dialog {
  background: rgba(255, 255, 255, 0.8);
  padding: 48px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px; }

#pname-enquiry .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#pname-enquiry input.name {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid #6483a0;
  max-width: 100%;
  width: 320px;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 24px; }

#pname-enquiry button.submit {
  border: none;
  outline: none;
  background: #6483a0;
  padding: 12px 24px;
  margin-left: 24px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s; }
  #pname-enquiry button.submit:hover {
    -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2); }
#game-menu {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #game-menu .dialog {
    height: 100%; }
  #game-menu .item {
    padding: 48px 64px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    margin: 24px 0; }
    #game-menu .item:hover {
      -webkit-box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.2); }
#intro {
  height: 100%;
  position: relative;
  overflow: hidden; }
  #intro .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(assets/330909e8df4505a06c4296078d1f8a33.jpg);
    background-size: cover;
    background-position: center; }
  #intro .content-holder {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #intro .dialog {
    background: rgba(255, 255, 255, 0.8);
    padding: 48px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px; }
  #intro input.name {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 2px solid #6483a0;
    max-width: 100%;
    width: 320px;
    background: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 12px 24px; }
  #intro button.submit {
    border: none;
    outline: none;
    background: #6483a0;
    padding: 12px 24px;
    margin-left: 24px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #intro button.submit:hover {
      -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2); }
@font-face {
  font-family: "SF Distant Galaxy aLTOutline";
  src: url(assets/f0b6ea67ba06de3f6770e5d93555fef7.ttf); }

@font-face {
  font-family: "SF Distant Galaxy Outline";
  src: url(assets/ef8c152a55ec13d9b008b1788938b1c1.ttf); }

#swintro, #swintro .center-wrapper, #swintro .perspective-wrapper {
  position: absolute;
  height: 100%;
  width: 100%; }

#swintro {
  overflow: hidden;
  background: black; }
  #swintro .hidden {
    position: absolute;
    visibility: collapse; }
    #swintro .hidden .o {
      font-family: "SF Distant Galaxy Outline"; }
    #swintro .hidden .oa {
      font-family: "SF Distant Galaxy aLTOutline"; }
  #swintro .center-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #swintro .perspective-wrapper {
    -webkit-perspective: 500px;
    perspective: 500px; }
  #swintro .perspective-holder {
    height: 100%;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in; }
  #swintro .perspective-content {
    position: absolute;
    max-width: 350px;
    line-height: 28px;
    letter-spacing: 1.5px; }
    #swintro .perspective-content p {
      margin: 0;
      color: #e5b13a;
      font-size: 20px;
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: always; }
      #swintro .perspective-content p + p {
        margin-top: 20px; }
      #swintro .perspective-content p.episode, #swintro .perspective-content p.title {
        text-align: center; }
      #swintro .perspective-content p.title {
        text-transform: uppercase;
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        font-weight: bold; }
  #swintro .prelude {
    font-family: "Segoe UI Light", "Segoe UI", Tahoma, Geneva, Verdana, "Franklin Gothic Book", sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: #4bd5ee;
    font-size: 36px;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    padding: 0 24px; }
  #swintro #spacehunt-logo {
    display: none;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in; }
    #swintro #spacehunt-logo text {
      font-family: "SF Distant Galaxy aLTOutline";
      fill: #e5b13a;
      font-size: 24px;
      text-anchor: middle;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: always; }
    #swintro #spacehunt-logo .no-ligature {
      font-family: "SF Distant Galaxy Outline";
      font-size: 24px; }

/*# sourceMappingURL=style.css.map*/