#game-bar-holder {
	min-width: 100%;
}

#game-bar {
	height: 64px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.lives {
		display: flex;
		flex-direction: row;
	}

	.live {
		height: 48px;
		width: 48px;
		background: maroon;
		+.live {
			margin-left: 12px;
		}
	}

	.oxygen-holder, .oxygen-level {
		width: 128px;
		height: 48px;
	}

	.oxygen-wrapper {
		display: flex;
	}
	
	.oxygen-holder {
		overflow: hidden;
		position: relative;
		margin-left: 12px;
	}

	.oxygen-level {
		background: darkcyan;
		position: absolute;
	}

	.title {
		font-size: 24px;
		color: #3664af;
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	}

}