#game-menu {
	height: 100%;
	background-image: url("../../Resources/Images/BgSaturn.jpg");
	background-size: cover;
	background-position: center;
	.dialog {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.items {
		max-height: unset;
		padding: 48px;
	}
	.item {
		padding: 48px 64px;
		background: rgba(255, 255, 255, 0.8);
		text-align: center;
		user-select: none;
		font-size: 24px;
		color: rgba(0, 0, 0, 0.8);
		transition: all .3s;
		cursor: pointer;
		margin: 24px 0;
		&:hover {
			box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.2);
		}
	}
}
