$timesSquare: "Times Square";

@font-face {
	font-family: $timesSquare;
	src: url("../../Resources/Fonts//TimesSquare/TIMES_SQ.TTF")
}

#game-bar-holder {
	min-width: 100%;
}

#game-bar {
	height: 64px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.lives {
		display: flex;
		flex-direction: row;
	}

	.live {
		height: 48px;
		width: 48px;
		background: maroon;
		+.live {
			margin-left: 12px;
		}
	}

	.score, .title {
		font-size: 48px;
		font-family: $timesSquare;
		color: rgba(255, 255, 255, 0.8);
	}

	.oxygen-holder, .oxygen-level {
		width: 128px;
		height: 48px;
	}

	.oxygen-wrapper {
		display: flex;
	}
	
	.oxygen-holder {
		overflow: hidden;
		position: relative;
		margin-left: 12px;
	}

	.oxygen-level {
		background: darkcyan;
		position: absolute;
	}

}