#app {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;

	&.hide {
		display: none;
	}
}

#canvas-holder {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-direction: column;

	&.hide {
		display: none;
	}
}

#canvas {
	max-width: 100%;
	max-height: 100%;
}